<div class="container p-2" style="width: 650px;">
  <div class="row">
    <div class="col-md-6">
      <div  class="card card-body">
        <form  (submit)="submitLocation(cityName, countryCode)">
          <input type="text" class="form-control" placeholder="City Name" #cityName>
          <input type="text" class="form-control" placeholder="Country Code" #countryCode>
          <button class="btn btn-primary btn-block mt-2">Get Weather</button>
        </form>
      </div>
      <div class="col-md-6 pt-6 mt-3" style="width: 330px;">
        <div *ngIf="weather" class="card card-body" >
          <h3>{{weather.name}} </h3>
          <p>Temperature: {{weather.main.temp}}</p>
          <p>Latitude: {{weather.coord.lat}}</p>
          <p>Longitude: {{weather.coord.lon}}</p>
          <p>Humidity: {{weather.main.humidity}}</p>
          <p>Description: {{weather.weather[0].description}}</p>
        </div>
      </div>
    </div>
  </div>
</div>